<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Group:</strong>
  <%= @topic.group_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user_id %>
</p>

<%= link_to 'Edit', edit_group_topic_path(:group_id => @topic.group.id, :id => @topic.id) %> |
<%= link_to 'Back', group_path(:id => params[:group_id]) %>
